@using Castle.Core.Internal
@using Vickn.Platform.Organizations.Dto
@model System.Collections.Generic.List<Vickn.Platform.Organizations.Dto.OrganizationUnitDto>

@helper CreateOrganizationUnitItems(long? parentId)
{

var organizationUnits = Model.Where(p => p.ParentId == parentId || (parentId == null && p.ParentId == null)).ToList();

if (!organizationUnits.Any())
{
    return;
}
    <ul>
        @foreach (var organizationUnit in organizationUnits)
        {
            <li id="@organizationUnit.Id" class="jstree-open">
                @organizationUnit.DisplayName
                @CreateOrganizationUnitItems(organizationUnit.Id)
            </li>
        }
    </ul>
}
<div class="organizationUnit-tree">
    @CreateOrganizationUnitItems(null)
</div>
