@using System.Web.Optimization
@using Abp.Web.Mvc.Extensions
@using Vickn.Platform.Authorization

@{
    ViewBag.Title = "主页";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!--左侧导航开始-->
@Html.Action("TopMenu", "Layout")
<!--左侧导航结束-->
<!--右侧部分开始-->

<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row border-bottom">


        <div class="home-logo-wp" style=" height: 95px;background-color: #2b659a;overflow: hidden;">
         @*<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"></a>*@
        <a href="" target="_self" style="margin-left:35px;"><img src="~/Content/Hplus/img/yinyontubiao/logo.png" alt="移动警务统一登录应用平台"></a>

    </div>
    </div>
    <div class="row content-tabs">
        <button class="roll-nav roll-left J_tabLeft" onclick="javascript:window.history.back(-1);">
            <i class="fa fa-backward"></i>
        </button>
        <nav class="page-tabs J_menuTabs">
            <div class="page-tabs-content">
                <a href="javascript:;" class="active J_menuTab" data-id="/Home/Welcome">首页</a>
            </div>
        </nav>
        <button class="roll-nav roll-right J_tabRight">
            <i class="fa fa-forward"></i>
        </button>
        <div class="btn-group roll-nav roll-right">
            <button class="dropdown J_tabClose" data-toggle="dropdown">
                关闭操作<span class="caret"></span>

            </button>
            <ul role="menu" class="dropdown-menu dropdown-menu-right">
                <li class="J_tabShowActive">
                    <a>定位当前选项卡</a>
                </li>
                <li class="divider"></li>
                <li class="J_tabCloseAll">
                    <a>关闭全部选项卡</a>
                </li>
                <li class="J_tabCloseOther">
                    <a>关闭其他选项卡</a>
                </li>
            </ul>
        </div>
        <a href="/Account/Logout" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
    </div>
    <div class="row J_mainContent" id="content-main">
        <iframe class="J_iframe" name="iframe0" width="100%" height="95%" src="/Home/Welcome" frameborder="0" data-id="/Home/Welcome" seamless></iframe>
    </div>



    <div class="footer" style=" background-color: #2b659a !important;margin-top:-34px;">
        <div style="margin-left:40%;">
            <p style=" font-size: 14px !important;color: #fff !important;">Copyright © 2010-2018  黔东强制隔离戒毒管理所版权所有</p>
        </div>
    </div>
</div>


<!--右侧部分结束-->

@section scripts{
    @*<script src="~/Content/Hplus/js/plugins/pace/pace.min.js"></script>*@
    <!-- SignalR scripts -->
    <script src="~/signalr/hubs"></script>
    @Html.IncludeScript("~/Abp/Framework/scripts/libs/abp.signalr.js")

    @Html.IncludeScript("~/js/AppUserNotificationService.js")
    @Html.IncludeScript("~/Views/Home/Index.js")

}