<div class="middle-box text-center animated fadeInDown">
    <h1>403</h1>
    <h3 class="font-bold">页面未授权访问！</h3>
    <div class="error-desc">
        抱歉，您没有权限访问此页面~
        <form class="form-inline m-t" role="form">
            <a href="@Url.Action("Index")" class="btn btn-primary">返回主页</a>
        </form>
    </div>
</div>