@{
    ViewBag.Title = "我的桌面";
}
<link href="~/Content/Hplus/img/yinyontubiao/css.css" rel="stylesheet" />
<style>
    #div-all div {
        float: left;
    }
    .div-title {
        width: 100%;
        height: 40px;
        line-height: 40px;
        background-color: #F5F5F5;
        border-bottom: 1px solid #D0D0D0;
    }
    .div-left{ color: #464646; text-decoration: none;
    }
</style>

<div id="div-all">
    @*快捷功能*@
    <div class="div-left" style="width:60%;height:300px;">
        <div class="div-title">
            <img src="~/Content/Hplus/img/yinyontubiao/ooopic_1463537349.png" width="35" height="35" />
            <span style="margin-left:8px;">快捷功能</span>
        </div>

        <input type="hidden" value="" id="sortId">
        <ul class="dragsort-ver ul-content-1" id="ul-content" style="" data-listidx="0">

            <li class="li"  data-itemidx="0" style="cursor: pointer;">
                <a class="Access_Api" href="/Users" data-index="7">
                    <img src="~/Content/Hplus/img/yinyontubiao/ap1.png" alt="/Content/html_style/right-keyMenu/img/app/ap4.png" />

                    <div>
                        <span>用户管理</span>
                    </div>
                </a>

            </li>
            <li class="li"  data-itemidx="1" style="cursor: pointer;">
                <a class="Access_Api" href="/Devices/Device/VideoCall" data-index="5">
                    <img src="~/Content/Hplus/img/yinyontubiao/ap2.png" alt="/Content/html_style/right-keyMenu/img/app/ap4.png" />

                    <div>
                        <span>视频对讲</span>
                    </div>
                </a>

            </li>
            <li class="li"  data-itemidx="2" style="cursor: pointer;">
                <!--判断排班系统是否有排班表推送-->
                <a class="btn-login" href="/Devices/Device" data-index="3">

                    <img src="~/Content/Hplus/img/yinyontubiao/ap3.png" alt="/Content/html_style/right-keyMenu/img/app/ap4.png" />

                    <div>
                        <span>警务通管理</span>
                    </div>
                </a>

            </li>
            <li class="li"  data-itemidx="2" style="cursor: pointer;">
                <!--判断排班系统是否有排班表推送-->
                <a class="btn-login" id="PBGL" href="#" target="_blank" data-index="3">

                    <img src="~/Content/Hplus/img/yinyontubiao/ap6.png" alt="/Content/html_style/right-keyMenu/img/app/ap4.png" />

                    <div>
                        <span>排班管理</span>
                    </div>
                </a>

            </li>
        </ul>

    </div>

    <div>&nbsp;&nbsp;&nbsp;</div>

    @*消息公告标题*@
    <div class="div-buttom" style="width:35%">
        <div class="div-title">

            <img src="~/Content/Hplus/img/yinyontubiao/ooopic_1463538196.png" width="35" height="35" />
            <spn style="margin-left:8px;font-size:12px;">消息公告标题</spn>
        </div>
        <ul id="ul-message" class="title" style="height:510px;overflow:auto;"></ul>
    </div>

    @*其他*@
    <div class="div-left" style="width:60%;margin-top:-250px;">
        <div class="div-title">

           
            <img src="/Content/Hplus/img/yinyontubiao/ooopic_1463537349.png" width="35" height="35" />
            <spn style="margin-left:8px;">其他</spn>

        </div>
        <ul id="ul-message" class="content" style="height:200px;overflow:auto;"></ul>
    </div>
</div>

@section scripts{
<script>
    $(function () {
        var announcementService = abp.services.app.announcement;
        var input = {};

        announcementService.getPagedAsync(input).done(function (result) {

            console.log(result);
          

            $.each(result.items,
                function (index, data) {
                    console.log(index, data);
                  
                    if (data.isRead == true) {
                        $(".title").append("<li><a onclick='getXXGG(" + data.id + ")' > " + data.title + "</a><img src='/Content/Hplus/img/messagehint/new_038.gif' /></li>");
                    } else {
                        $(".title").append("<li><a onclick='getXXGG(" + data.id + ")' > " + data.title + "</a></li>");
                    }
                })

        });

        //获取当前用户Id,用户操作老平台的排班管理
        $.post("/Layout/getUserId", function (data) {
            //$("#PBGL").attr("href", "http://localhost:42137/WebApi/Index?userid=" + data + "")
        })
    })
    function getXXGG(data) {

        window.location = "/Announcements/announcement/SelectMessage/" + data + ""
       
    }

    function tsUser() {
      
       
       
    }


</script>
}