@{
    ViewBag.Title = "我的桌面";
}
<div>

    @*消息公告*@
    <div class="div-buttom">
        <div class="div-title" style="">
            <img src="~/Content/Hplus/img/ooopic_1463538196.png" />
            <div>消息公告</div>
        </div>
        <ul id="ul-message"></ul>
    </div>
</div>