<div class="row wrapper border-bottom white-bg page-heading" style="height: 40px;">
    <div class="col-sm-4">
        <ol class="breadcrumb" style="padding-top: 5px; padding-left: 10px; font-size: 15px">
            <li>
                @L("IndexPage")<span class="c-gray en">&gt;</span>
                @ViewBag.Menu
            </li>
            <li>
                @ViewBag.SubMenu
            </li>
        </ol>
    </div>
    <div class="col-sm-8" style="text-align: right;padding-top: 2px;">
        <a href="empty_page.html" class="btn btn-primary">活动区域</a>
    </div>
</div>
