<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> @L("IndexPage")<span class="c-gray en">&gt;</span>
    @ViewBag.Menu
    <span class="c-gray en">&gt;</span>
    @ViewBag.SecMenu
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="@L("Reflesh")">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>

