<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>移动警务打卡助手</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            color: #666;
            background: #c1d2fe;
        }

        .form_login {
            max-width: 640px;
            margin: auto;
            text-align: center;
            padding-top: 100px;
        }

        .form-group {
            width: 355px;
            margin: 0 auto;
            height: 50px;
            margin-bottom: 20px;
        }

            .form-group .fa {
                display: block;
                width: 50px;
                height: 50px;
                float: left;
            }

            .form-group .form-control {
                display: block;
                width: 300px;
                height: 48px;
                float: left;
                border: 1px solid #ccc;
                padding: 0;
                margin-left: 0;
                text-indent: 1em;
                themeColor: #00a988;
            }

                .form-group .form-control:hover {
                    border: 1px solid #0160A0;
                }

            .form-group .checkfont {
                color: #666;
            }

            .form-group .btn {
                width: 350px;
                height: 50px;
                background-color: #0160A0;
                border: 0px;
                color: #fff;
                font-size: 14px;
            }

        .fa-user {
            background: url('../../Images/KqDK/user.png') no-repeat center;
        }

        .fa-key {
            background: url('../../Images/KqDK/pw.png')no-repeat center;
        }

        .form_footer {
            margin-top: 50px;
            font-size: 12px;
            color: #5B809A;
        }

        .kqzs_name {
            font-size: 50px;
            font-family: 幼圆;
            color: #337ab7;
            font-weight: bold;
        }

        .kqzs_names {
            font-size: 20px;
            font-family: 幼圆;
            color: #337ab7;
            font-weight: bold;
        }

        .outgoing_cause {
            margin-top: 70px;
            width: 340px;
            height: 100px;
        }
    </style>
</head>

<body>
    <div class="form_login" style="margin-left:-15px;margin-top:-100px;">

        @*<div class="form_logo"> <img src="~/Images/KqDK/logo.png" /></div>*@
        <form method="post" role="form" id="form_login">

            <div class="form-group">
                <span class="kqzs_name">移 动 警 务</span>
            </div>

            <div class="form-group">
                <span class="kqzs_names">考勤签到小助手</span>
            </div>

            <div class="form-group" style="margin-top:0px;color:#337ab7;text-align:left;">
                <div style="margin-left:10px;color:#0160A0">打卡位置:</div>
                <div style="margin-left:10px;" id="location" Remark="">正在获取中...</div>
            </div>


            <div class="form-group" style="margin-top:0px;color:#337ab7">
                <div style="text-align:left;margin-left:10px;">
                    姓名：<span id="username"></span>
                </div>

                <div style="text-align:right;margin-top:-20px;margin-right:10px;">
                    日期：<span id="nowdate"></span>
                </div>
            </div>


            <div class="form-group" style="margin-top:-100px;">
                <textarea class="outgoing_cause" id="outgoingcause" placeholder="请在这里输入您此次的外出事由"></textarea>
            </div>





            <div class="form-group" style="margin-top:140px;">
                <button type="button" id="btnlogin" class="btn btn-primary btn-block btn-login">打卡签到</button>
            </div>


            <div class="form-group" style="height:200px;" id="allmap">
               

            </div>


        </form>
        <div class="form_footer">2018 黔东强制隔离戒毒所版权所有</div>


    </div>
</body>
</html>


@section scripts{
    <script src="~/Views/WeiXingDK/Index_js.js"></script>
    
    @*高德*@
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.3&key=3df877a70685dac5ecb3afa375d4c305"></script>

    @*百度*@
    @*<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=RRTff7KIXtDIM7aNDa4T1dOqVnCoy0om"></script>*@
    




}
