@using Abp.Web.Mvc.Extensions
@using Vickn.Platform.Users.Authorization
@model Vickn.PlatfForm.Utils.Pager.PagerResult<Vickn.Platform.Auditing.Dto.AuditLogListDto, Vickn.Platform.Auditing.Dto.GetAuditLogsInput>

@{
    ViewBag.Menu = L("SystemManage");
    ViewBag.SubMenu = L("AuditLog");
    ViewBag.createBtn = L("CreateAuditLog");
    ViewBag.editBtn = L("EditAuditLog");

    ViewBag.ActiveMenu = "AuditLogs"; //The menu item will be active for this page.

}
@Html.Partial("~/Views/Common/_Navigation.cshtml")
<div class="page-container">
    <div class="text-c mb-20">
        <input type="text" class="input-text" placeholder="请输入时间" style="width: 250px;" id="userName" />
        <button class="btn btn-success" id="search" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    </div>
    <table class="table table-border table-bordered table-hover table-bg dataTable ">
        <thead>
            <tr class="text-c">
                <th width="25"></th>
                <th width="25">状态</th>
                <th>时间</th>
                <th>用户名</th>
                <th>服务</th>
                <th>操作</th>
                <th>持续时间</th>
                <th>IP地址</th>
                <th>客户端</th>
                <th>浏览器</th>
            </tr>
        </thead>
    </table>
</div>
@section scripts{
    @Html.IncludeScript("~/js/datatable.extend.js")
    @Html.IncludeScript("~/Views/AuditLogs/Index.js")
}
