@using Abp.Web.Mvc.Extensions

<div class="btn-group">
  <button class="btn btn-white" id="sendMessage">单人发送消息</button>
</div>
<div class="btn-group">
  <button class="btn btn-primary" id="createGroup">创建群组</button>
  <button class="btn btn-white" id="getGroupUsers">获取用户</button>
  <button class="btn btn-white" id="inviteUser">邀请用户</button>
  <button class="btn btn-white" id="groupChat">群发消息</button>
</div>
@section scripts
{
  <script src="~/signalr/hubs"></script>
  @Html.IncludeScript("~/Abp/Framework/scripts/libs/abp.signalr.js")
  <script>
    $(function () {
      var hub = abp.signalr.hubs.common;
      console.log(hub);
      abp.event.on("abp.signalr.connected",function() {
        hub.server.joinGroups();
        hub.server.getHistories();
      });
      abp.signalr.connect();
     
      hub.client.getMessages = function (messages) {
        console.log("messages:", messages);
        var input = [];
        $.each(messages,
          function (index, data) {
            input.push({
              id: data.id
            });
          });
        hub.server.readMessages(input).done(function () {
          console.log("已读成功");
        });
      }
      hub.client.getMessage = function (message) {
        console.log("message:", message);
      }
      hub.client.showError = function (message) {
        console.log("Error:", message);
      }
      hub.client.joinGroup = function (group) {
        console.log("group:", group);
      }
      hub.client.joinGroups = function (groups) {
        console.log("groups:", groups);
      }
      $("#sendMessage").click(function () {
        hub.server.sendMessage(JSON.stringify({
          message: "测试消息",
          tickets: 1000,
          chatMessageType: 0,
          chatSendType: 0,
          toUserId: 4,
        })).done(function (result) {
          console.log("发送消息成功",result);
        });
      });

      $("#createGroup").click(function () {
        var groupName = "测试群组2";
        hub.server.createGroup(groupName).done(function (result) {
          console.log("创建群组成功", result);
        })
      })

      $("#getGroupUsers").click(function () {
        var groupName = "测试群组1";
        hub.server.getGroupUsers(1).done(function (result) {
          console.log("获取所有用户", result);
        })
      })
      $("#inviteUser").click(function () {
        hub.server.inviteToGroup({
          groupId: 1,
          UserIds: [
            {
              id: 4
            }]
        }).done(function (result) {
          console.log("邀请用户成功", result);
        })
      })
      $("#groupChat").click(function() {
        hub.server.sendMessage(JSON.stringify({
          message: "测试群发消息",
          tickets: 1000,
          chatMessageType: 0,
          chatSendType: 1,
          toGroupId: 1,
        })).done(function () {
          console.log("发送消息成功");
        });
      })
    })
  </script>
}