@using System.Web.Optimization
@using Abp.Web.Mvc.Extensions
@model Vickn.Platform.Attendences.KqShifts.Dtos.KqShiftUserForEidt

<div class="row animated fadeInRight">
 Create。。。。。。。。。。。
</div>

@section styles{
    <link href="~/Scripts/wangEditor-2.1.23/dist/css/wangEditor.css" rel="stylesheet" />
    @Styles.Render("~/Bundles/lib/css/ztree/metro")
    <style>
        #AnnouncementEditDto_Content {
            height: 300px;
        }
    </style>
}