<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>112.74.113.253</MSDeployServiceURL>
    <DeployIisAppPath>Police_Platform</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Default" Order="1" Enabled="True">
          <Destination Path="Data Source=.;Initial Catalog=Police_Platform;Integrated Security=False;User ID=sa;Password=admin1234567890" Name="Server=.; Database=Police_Platform; Trusted_Connection=false;uid=sa;pwd=admin1234567890;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Vickn.Platform.EntityFramework.PlatformDbContext, Vickn.Platform.EntityFramework" MigrationConfiguration="Vickn.Platform.Migrations.Configuration, Vickn.Platform.EntityFramework" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Hangfire" Order="2" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=Police_Platform;Integrated Security=False;User ID=sa;Password=admin1234567890" Name="Server=.; Database=Police_Platform; Trusted_Connection=false;uid=sa;pwd=admin1234567890;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=Police_Platform;Integrated Security=False;User ID=sa;Password=admin1234567890" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Hangfire_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=.; Database=Police_Platform; Trusted_Connection=false;uid=sa;pwd=admin1234567890;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Default-Web.config Connection String">
      <ParameterValue>Server=.; Database=Police_Platform; Trusted_Connection=false;uid=sa;pwd=admin1234567890;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Hangfire-Web.config Connection String">
      <ParameterValue>Server=.; Database=Police_Platform; Trusted_Connection=false;uid=sa;pwd=admin1234567890;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>