@using Vickn.Platform
@using Vickn.Platform.Authorization
@model Vickn.Platform.Web.Models.Layout.UserMenuOrLoginLinkViewModel

@if (Model.LoginInformations != null)
{
    <div class="dropdown profile-element">
        <span><img alt="image" class="img-circle" src="" alt="头像" /></span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
                <span class="block m-t-xs"><strong class="font-bold">@Model.LoginInformations.User.Surname</strong> <b class="caret"></b></span>
            </span>
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li>
                <a class="J_menuItem" href="">修改头像</a>
            </li>
            <li>
                <a class="J_menuItem" href="">个人资料</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/Account/Logout">安全退出</a>
            </li>
        </ul>
    </div>

  
}